.container {
  height: 100%;
  width: 100%;;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: rem(38px);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.description {
  max-width: rem(540px);
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}